/* Barra de desplazamiento minimalista, sin fondo y roja */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(45deg, #FF0000, #000000, #FF0000, #000000);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}

/* Animación para el fondo */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px; /* Tamaño de la barra de desplazamiento */
  height: 8px; /* Tamaño de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-track {
  background: transparent; /* Sin fondo */
}

::-webkit-scrollbar-thumb {
  background-color: red; /* Color rojo para el thumb */
  border-radius: 10px; /* Bordes curvos */
  border: 2px solid transparent; /* Bordes invisibles para mayor efecto */
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkred; /* Color más oscuro al pasar el mouse */
}

/* Para los navegadores que no soportan WebKit */
* {
  margin: 0;
  padding: 0;
}

.efek-shadow {
  --tw-shadow: 0px 0px 50px 3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.active {
  border-bottom-width: 4px;
}

.hamburger-active > span:nth-child(1) {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hamburger-active > span:nth-child(2) {
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hamburger-active > span:nth-child(3) {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
